ASPNETCORE_ENVIRONMENT=Development
ASPNETCORE_URLS=http://+:8080
APP_PORT=8080

MSSQL_PORT=1433
MSSQL_SA_PASSWORD=YourStrong!Passw0rd
MSSQL_PID=Developer

CONNECTIONSTRINGS__EFCOREDBCONNECTION=Server=sqlserver,1433;Database=ECommerceApp;User Id=sa;Password=YourStrong!Passw0rd;TrustServerCertificate=True;Encrypt=False

REDIS_PORT=6379
CONNECTIONSTRINGS__REDIS=redis:6379,abortConnect=false
REDIS__INSTANCENAME=ECommerceApp:
CACHE__ENABLED=true
CACHE__DEFAULTEXPIRATIONMINUTES=10
CACHE__CATALOGEXPIRATIONMINUTES=15

JWT__ISSUER=ECommerceApp
JWT__AUDIENCE=ECommerceApp
JWT__KEY=ReplaceWithA32CharacterOrLongerSecretKey
JWT__ACCESSTOKENMINUTES=480
JWT__ADMINEMAILS=admin@example.com

EMAILSETTINGS__MAILSERVER=smtp.gmail.com
EMAILSETTINGS__MAILPORT=587
EMAILSETTINGS__SENDERNAME=Your Application Name
EMAILSETTINGS__FROMEMAIL=yourgmail@gmail.com
EMAILSETTINGS__PASSWORD=yourAppPassword

GOOGLE_APPLICATION_CREDENTIALS=/app/secrets/firebase-auth.json
BUCKET_NAME=your-firebase-storage-bucket

# =========================
# Application Info
# =========================
SERILOG_APPLICATION=App-ECommerceApp
SERILOG_SERVER=Server-125.08.13.1

# =========================
# Global Log Levels
# =========================
SERILOG_MINIMUM_LEVEL=Information
SERILOG_MINIMUM_LEVEL_MICROSOFT=Debug
SERILOG_MINIMUM_LEVEL_SYSTEM=Debug

# =========================
# Elasticsearch Sink
# =========================
SERILOG_ELASTIC_URI=http://elasticsearch:9200
SERILOG_ELASTIC_USERNAME=elastic
SERILOG_ELASTIC_PASSWORD=MyStrongP@ssword123
SERILOG_ELASTIC_INDEX_FORMAT=aspnetcore-logs-{0:yyyy.MM.dd}
SERILOG_ELASTIC_AUTO_REGISTER_TEMPLATE=true
